#clock {
  margin: 15% auto;

  width: 80%;
  height: 300px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.control-button {
  flex-basis: 100%;
  flex-grow: 1;
}


.item {
  margin-right: 10px;
  margin-left: 10px;

  flex-basis: auto;

  flex-shrink: 1;

  text-align: center;
}

.middle-padding {
  width: 50px;
  flex-shrink: 1;
}
